@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  margin: 0px;
  padding: 0px;
  top: 0px !important;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

#google_translate_element {
  display: none;
}