@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  margin: 0px;
  padding: 0px;
}
body{
  top: 0px !important;

}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

#google_translate_element {
  display: none;
}

/* Hide the Google Translate banner */
.goog-te-banner-frame {
  display: none !important;
}

/* Hide the Google Translate frame */
.goog-te-gadget-icon {
  display: none !important;
}

/* Hide the Google Translate menu */
.goog-te-gadget {
  display: none !important;
}

/* Ensure the body content is visible */
body {
  top: 0px !important;
}

/* Ensure the translate frame is not visible */
#goog-translate-element {
  display: none !important;
}

/* Additional styling if needed */
.goog-te-menu-value {
  color: transparent !important;
}

/* Prevent the Google Translate popup from appearing on hover */
.goog-tooltip,
.goog-tooltip:hover,
.goog-text-highlight {
    display: none !important;
}